@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.font-Raleway {
  font-family: "Raleway", sans-serif !important;
}
* {
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}
.my-container {
  max-width: 1164px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px !important ;
  padding-right: 12px !important;
}
.mt_14 {
  margin-top: 14px;
}
.mt_70 {
  margin-top: 70px !important;
}
.mt_50 {
  margin-top: 50px;
}
.mt_120 {
  margin-top: 120px !important;
}
.pe_10 {
  padding-right: 12px;
}
.opacity_85 {
  opacity: 0.85;
}
.opacity_70 {
  opacity: 0.7;
}
.opacity_90 {
  opacity: 0.9;
}
.get-btn {
  padding: 11px 24px;
  background: #f46e00;
  color: white;
  border-radius: 69px;
  border: 1px solid #f46e00;
  transition: all 300ms linear;
}
.get-btn:hover {
  padding: 11px 24px;
  background: white;
  color: #f46e00;
  border-radius: 69px;
  border: 1px solid #f46e00;
}
.gap_40 {
  gap: 40px;
}
.button_ms {
  margin-left: 20px;
}
.px_10 {
  padding-left: 10px !important ;
  padding-right: 10px !important;
}
.Outcomes {
  padding-top: 100px;
  padding-bottom: 90px;
}
.acquisition {
  padding-top: 235px;
  padding-bottom: 150px;
}
.money-img {
  opacity: 1;
  transition: all 300ms linear !important;
}
.money-img-2 {
  opacity: 0;
  margin-left: -74px;
  transition: all 300ms linear !important;
}
.money-card {
  border: 1px solid #2c2b2a;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.05);
  padding: 30px 20px 49px 20px;
  transition: all 300ms linear;
}
.money-card:hover {
  border: 1px solid #f46e00;
  border-radius: 8px;
  background: #f46e00;
  padding: 30px 20px 49px 20px;
}
.money-card:hover .money-img {
  opacity: 0;
}
.money-card:hover .money-img-2 {
  opacity: 1;
  margin-left: -74px;
}
.number-bg {
  max-width: 60px;
  padding: 12px 9px 21px;
  border-radius: 0px 0px 84px 84px;
  background: #858585;
  transition: all 300ms linear;
}

.number-card {
  box-shadow: 0px 0px 15px #ebebeb;
  border-bottom: 6px solid #ffffff;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.05);
  transition: all 300ms linear;
}
.number-card:hover {
  transform: translateY(-20px);
  box-shadow: 0px 0px 15px #fef3eb;
  border-bottom: 6px solid #f46e00;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.05);
}

.number-card:hover .number-bg {
  max-width: 60px;
  padding: 12px 9px 21px;
  border-radius: 0px 0px 84px 84px;
  background: #f46e00;
}

.menu {
  font-size: 38px;
  font-family: sans-serif;
  width: 36px;
  height: 39px !important;
  gap: 10px !important;
  padding-top: -30px;
  overflow: hidden;
  color: white;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar1 {
  background-color: #000000;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: -100%;
  transition: all linear 300ms;
}

.closbtn {
  top: 20px;
  right: 20px;
}

@media (max-width: 991.98px) {
  .mt_20 {
    margin-top: 20px !important;
  }
  .mt_120 {
    margin-top: 80px !important;
  }
  .number-card:hover {
    transform: translateY(0px);
    box-shadow: 0px 0px 15px #d2b993;
    border-bottom: 6px solid #f46e00;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.05);
  }
  .Outcomes {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .acquisition {
    padding-top: 200px !important;
    padding-bottom: 80px !important;
  }
}
@media (max-width: 575.98px) {
  .mt-20 {
    margin-top: 20px !important;
  }
  .mt_120 {
    margin-top: 60px !important;
  }
  .Outcomes {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .acquisition {
    padding-top: 160px !important;
    padding-bottom: 60px !important;
  }
}
